<!-- Input needed for this page : Year -->
<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Software Registration System</title>
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel = "stylesheet" type="text/css" href="../Public/styles/wave.css">
        <link rel="stylesheet" type="text/css" href="../Public/styles/style.css">
    </head>

    <body>
        
        <header>
            <div class="container">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                    <a href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank"
                            viewBox="0 0 16 16">
                            <path
                                d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z" />
                        </svg>
                        <span class="fs-4">&nbsp; Advanced Bank </span>
                    </a>
        
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="index.html" class="nav-link" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Why Bank With Us</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Our Security</a></li>
                        <li class="nav-item"><a href="#" class="nav-link Advanced_Bank">About Advanced Bank</a></li>
                    </ul>
                </header>
            </div>
        </header>

        <div id="redirectToLoginPage" class="container">
          <p>
            Discover the benefits of being part of our community.
            <br/>
            <a href="Client's LogIn.html" class="login-link">Log In</a>
          </p>
        </div>
        

        <div id="Client_log_in_sign_up" class="container wave_class">
            <section class=" h-custom">
                <div class="container h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                      <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                          <div class="row g-0">
                            <div class="col-lg-6">
                              <div class="p-5">
                                <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>
              
                                <div class="mb-4 pb-2">
                                  <select class="select">
                                    <option value="1">Title</option>
                                    <option value="2">Mr.</option>
                                    <option value="3">Ms.</option>
                                    <option value="4">Mrs.</option>
                                  </select>
                                </div>
              
                                <div class="row">
                                  <div class="col-md-6 mb-4 pb-2">
              
                                    <div class="form-outline">
                                      <input type="text" id="form3Examplev2" class="form-control form-control-lg">
                                      <label class="form-label" for="form3Examplev2">First name</label>
                                    </div>
              
                                  </div>
                                  <div class="col-md-6 mb-4 pb-2">
              
                                    <div class="form-outline">
                                      <input type="text" id="form3Examplev3" class="form-control form-control-lg">
                                      <label class="form-label" for="form3Examplev3">Last name</label>
                                    </div>
              
                                  </div>
                                </div>
              
                                <div class="mb-4 pb-2">
                                  <select class="select" id = "Position">
                                    <option value="1">Position</option>
                                    <option value="2">Student</option>
                                    <option value="3">Employeed</option>
                                    <option value="4">No Employeed / Retired</option>
                                  </select>
                                </div>
              
                                <div class="mb-4 pb-2">
                                  <div class="form-outline">
                                    <input type="text" id="form3Examplev4" class="form-control form-control-lg">
                                    <label class="form-label" for="form3Examplev4">Position</label>
                                  </div>
                                </div>
              
                                <div class="row">
                                  <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
              
                                    <div class="form-outline">
                                      <input type="text" id="form3Examplev5" class="form-control form-control-lg">
                                      <label class="form-label" for="form3Examplev5">Bussines Arena</label>
                                    </div>
              
                                  </div>
                                  <div class="col-md-6">
              
                                    <select class="select">
                                      <option value="1">Employees</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                      <option value="4">Four</option>
                                    </select>
              
                                  </div>
                                </div>

                                <div class="mb-4 pb-2 py-5">
                                    <label class="form-label" for="dobDay">Date of Birth</label>
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-select" id="dobDay" name="dobDay">
                                                <option value="" disabled selected>Day</option>
                                                
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select class="form-select" id="dobMonth" name="dobMonth">
                                                <option value="" disabled selected>Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select class="form-select" id="dobYear" name="dobYear">
                                                <option value="" disabled selected>Year</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                  
              
                              </div>
                            </div>
                            <div class="col-lg-6 bg-indigo text-white">
                              <div class="p-5">
                                <h3 class="fw-normal mb-5">Contact Details</h3>
              
                                <div class="mb-4 pb-2">
                                  <div class="form-outline form-white">
                                    <input type="text" id="form3Examplea2" class="form-control form-control-lg">
                                    <label class="form-label" for="form3Examplea2">Street + Nr</label>
                                  </div>
                                </div>
              
                                <div class="mb-4 pb-2">
                                  <div class="form-outline form-white">
                                    <input type="text" id="form3Examplea3" class="form-control form-control-lg">
                                    <label class="form-label" for="form3Examplea3">Additional Information</label>
                                  </div>
                                </div>
              
                                <div class="row">
                                  <div class="col-md-5 mb-4 pb-2">
              
                                    <div class="form-outline form-white">
                                      <input type="text" id="form3Examplea4" class="form-control form-control-lg">
                                      <label class="form-label" for="form3Examplea4">Zip Code</label>
                                    </div>
              
                                  </div>
                                  <div class="col-md-7 mb-4 pb-2">
              
                                    <div class="form-outline form-white">
                                      <input type="text" id="form3Examplea5" class="form-control form-control-lg">
                                      <label class="form-label" for="form3Examplea5">Place</label>
                                    </div>
              
                                  </div>
                                </div>
              
                                <div class="mb-4 pb-2">
                                  <div class="form-outline form-white">
                                    <input type="text" id="form3Examplea6" class="form-control form-control-lg">
                                    <label class="form-label" for="form3Examplea6">Country</label>
                                  </div>
                                </div>
              
                                <div class="row">
                                  <div class="col-md-5 mb-4 pb-2">
              
                                    <div class="form-outline form-white">
                                      <input type="text" id="form3Examplea7" class="form-control form-control-lg">
                                      <label class="form-label" for="form3Examplea7">Code +</label>
                                    </div>
              
                                  </div>
                                  <div class="col-md-7 mb-4 pb-2">
              
                                    <div class="form-outline form-white">
                                      <input type="text" id="form3Examplea8" class="form-control form-control-lg">
                                      <label class="form-label" for="form3Examplea8">Phone Number</label>
                                    </div>
              
                                  </div>
                                </div>
              
                                <div class="mb-4">
                                  <div class="form-outline form-white">
                                    <input type="text" id="form3Examplea9" class="form-control form-control-lg">
                                    <label class="form-label" for="form3Examplea9">Your Email</label>
                                  </div>
                                </div>
              
                                <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                  <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c">
                                  <label class="form-check-label text-white" for="form2Example3">
                                    I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                                    site.
                                  </label>
                                </div>
              
                                <button type="button" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Register</button>
              
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <div id="Wave">
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" class="py - 20">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>

        </div>

        <!--Footer Starts-->
        <footer class="footer container">
        
            <div class="footer-content row border-bottom">
                <div class="contact-info col-md-4">
                    <h3>Contact Us</h3>
                    <p>123 Bank Street, Cityville, ABC</p>
                    <p>Email: info@advancedbank.com</p>
                    <p>Phone: 1-800-123-4567</p>
                </div>
                <div class="quick-links col-md-4">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Security</a></li>
                    </ul>
                </div>
                <div class="trust-badges col-md-4">
                    <h3>Trust & Security</h3>
                    <!-- Add trust badges or certifications here -->
                    <div class="row">
                        <img src="../images/SSLCertified.jpg" alt="SSL Secure Site Badge" height="100px" class="col-md-4">
                        <img src="../images/trustPilot Badge.png" alt="Trustpilot Badge" height="100px" class="col-md-4">
                        <!-- Add other relevant badges or certifications -->
                    </div>
                </div>
        
            </div>
        
            <div class="row">
                <div class="social-links row col-md-6">
                    <h3>Follow Us</h3>
                    <!-- Add social media icons or links here -->
                    <!--Facebook-->
                    <a href="#" class="social-icon col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path
                                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                        </svg><i class="fab fa-facebook-f"></i></a>
                    <!-- /Facebook -->
        
                    <!--Twitter-->
                    <a href="#" class="social-icon col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                            <path
                                d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                        </svg><i class="fab fa-twitter"></i></a>
                    <!-- /Twitter -->
        
                    <!--LinkedIn-->
                    <a href="#" class="social-icon col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path
                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                        </svg><i class="fab fa-linkedin"></i></a>
                    <!-- /LinkedIn -->
                    <!-- Add other social media icons or links -->
                </div>
        
                <p class="text-center text-body-secondary col-md-6 y-5">© 2020 - <%= Year %> Advanced Bank Management, Inc.</p>
        
            </div>
        
        </footer>
        <!--Footer Ends-->
        
        <!--CDN Script-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>
        


        <!--My script-->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Get the select element
                var positionSelect = document.getElementById('Position');
                // Get the input element
                var inputField = document.getElementById('form3Examplev4');
                // Get the label element
                var label = document.querySelector('label[for="form3Examplev4"]');

                // Add event listener to the select element
                positionSelect.addEventListener('change', function () {
                    // Check the selected value
                    var selectedValue = positionSelect.value;

                    // Change the label and placeholder based on the selected value
                    switch (selectedValue) {
                        case '1':
                            label.innerText = 'Position';
                            inputField.placeholder = '';
                            break;
                        case '2':
                            label.innerText = 'School Name';
                            inputField.placeholder = 'Enter School Name';
                            break;
                        case '3':
                            label.innerText = 'Company';
                            inputField.placeholder = 'Enter Company Name';
                            break;
                        case '4':
                            label.innerText = 'Specify';
                            inputField.placeholder = 'Specify';
                            break;
                        default:
                            label.innerText = 'Position';
                            inputField.placeholder = '';
                            break;
                    }
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                // Get the select elements
                var dobDaySelect = document.getElementById('dobDay');
                var dobMonthSelect = document.getElementById('dobMonth');
                var dobYearSelect = document.getElementById('dobYear');

                // Function to populate days based on the selected month and year
                function populateDays() {
                    var selectedMonth = dobMonthSelect.value;
                    var selectedYear = dobYearSelect.value;
                    var daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();

                    // Clear current options
                    dobDaySelect.innerHTML = '<option value="" disabled selected>Day</option>';

                    // Populate days
                    for (var i = 1; i <= daysInMonth; i++) {
                        var option = document.createElement('option');
                        option.value = i;
                        option.text = i;
                        dobDaySelect.appendChild(option);
                    }
                }

                // Function to populate years
                function populateYears() {
                    var currentYear = new Date().getFullYear();
                    var startYear = currentYear - 100; // Change the range as needed

                    // Clear current options
                    dobYearSelect.innerHTML = '<option value="" disabled selected>Year</option>';

                    // Populate years
                    for (var i = currentYear; i >= startYear; i--) {
                        var option = document.createElement('option');
                        option.value = i;
                        option.text = i;
                        dobYearSelect.appendChild(option);
                    }
                }

                // Event listeners for month and year changes
                dobMonthSelect.addEventListener('change', populateDays);
                dobYearSelect.addEventListener('change', populateDays);

                // Initial population of years and days
                populateYears();
                populateDays();
            });
        </script>
          
        
        <!--Other Scripts-->
        <script src = "scripts/clients_login_form.js"></script>

    </body>

</html>